*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 500px;
    height: 500px;
}

.bgc_green{
    background-color: coral;
}

.bgc_blue{
    background-color: blue;
}

/*grid*/

main{
    display: grid;
    grid-template-rows: repeat(1fr, 1fr, 1fr, 2fr, 1fr);
    grid-template-columns: repeat(1fr, 1fr, 2fr, 1fr, 1fr); 
    grid-template-areas: 
    "gt gt gt gt gr"
    "gl bt bt br gr"
    "gl bl o br gr"
    "gl bl bb bb gr"
    "gl gb gb gb gb";
}

.green_top{
    grid-area: gt;
}

.green_right{
    grid-area: gr;
}

.green_left{
    grid-area: gr;

}

.green_bottom{
    grid-area: gt;
}

.bleu_top{
    grid-area: gr;
}